.wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    width: 100%;
    max-width: 1200px;

    padding: var(--space-base);
    overflow: hidden;
}

@media (min-width: 60rem) {
    .wrapper {
        flex-direction: row;
        min-height: 650px;
        max-height: 650px;
        overflow-y: auto;
    }
}

main {
    width: 100%;
    padding: var(--space-base);

    background: var(--clr-slate-600);
    border-radius: var(--rounded-lg);
}

.panal-title {
    font-size: var(--fs-title);
}

.main-overlay {
    position: fixed;
    inset: 0;
    width: 100%;
    min-height: 100svh;
    background: rgba(50, 50, 50, 0.12);
    backdrop-filter: blur(5px);
}
